venv/
build/
*.charm
.tox/
.coverage
__pycache__/
*.py[cod]
.idea
.vscode/
*.egg-info/
cos-tool-*
src/prometheus_alert_rules/consolidated_rules/**
src/loki_alert_rules/consolidated_rules/**
tests/unit/src/prometheus_alert_rules/consolidated_rules/**
tests/unit/src/loki_alert_rules/consolidated_rules/**
.terraform*
*.tfstate*

